h1 {
    color: red;
    letter-spacing: 4px;
    text-align: center;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: red;
}

#menu a:hover {
    color: black;
    border-bottom: 1px solid red;
}

.active {
    border-bottom: 1px solid black;
}