@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Dots&display=swap');
/* header */

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-color: rgb(255, 238, 0, 0.3);
}

#logo {
    background-color: rgb(255, 238, 0, 0.3);
    float: left;
}


h1 {
    font-family: Zen Dots, sans-serif;
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
}

h2 {
    font-family: Zen Dots, sans-serif;
    color: rgb(255, 115, 0, 0.7);
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid;
    border-color: rgb(216, 17, 17);
}

p {
    font-family: Poppins, sans-serif;
    color: #27002E;
    font-size: 25px;
    padding: 5px;
}

span {
    color: rgb(255, 0, 0);
}

/* menu */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu li {
    list-style-type: none;
    margin-right: 50px;
    font-weight: bold;
    float: right;
    margin-top: 10px;
}

#menu a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}

#menu a:hover {
    color: rgb(255, 0, 0);
    border-bottom: 1px solid rgb(10, 0, 0);
}

.active {
    border-bottom: 2px solid rgb(10, 0, 0);
}

/* images */

.dumbell {
    height: 500px;
    max-width: 100%;
    background: url('../images/Morning-Workout.jpg') no-repeat;
}

.happy-work {
    background: url('../images/happy-people-workout.jpg') no-repeat center center;
    max-width: 100%;
    margin: 0.5em;
}

#hero-out {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/background-workout.jpg') no-repeat center;
    background-size: cover;

}

/* section 2 index.html div */

#box-center {
    height: 600px;
    width: 33%;
    display: inline-block;

}

.box-left {
    float: left;
}

.box-right {
    float: right;
}

/* footer */

footer {
    height: 100px
}

.social-media {
    text-align: center;
    font-family: Zen Dots, sans-serif;
    margin: 8%;
}

.social-media>li {
    display: inline;
    font-size: 30px;
    padding: 1%;
    margin: 2%;
    position: relative;
}

.social-media a:hover {
    color: rgb(255, 119, 0);
}

.social-media i {
    font-size: 25px;
    color: rgb(255, 0, 0);
    padding: 1%;
}

@media screen and (max-width: 1200px) {

    #menu {
        float: left;
    }

    #logo {
        padding: 30px 0;
        margin: 0;
    }

    #box-center {
        width: 65%;
        height: 600px;
        margin: 0 auto;
    }
}




@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #box-center {
        width: 50%;
        height: 600px;
        margin: 0 auto;
    }
}