/* background */

.backg-color {
    background-image: url('../images/background-workout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: black;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: none;
    font-weight: 700;
}

/* menu */

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    font-weight: bold;

}

#menu a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}

#menu a:hover {
    color: rgb(255, 0, 0);
    border-bottom: 1px solid rgb(10, 0, 0);
}

.active {
    border-bottom: 2px solid rgb(10, 0, 0);
}

/* images */

.dumbell {
    height: 500px;
    max-width: 100%;
    background: url('../images/Morning-Workout.jpg') no-repeat center;
}


/* Article */

.workout-benefit {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
}

.workout-benefit {
    background-color: rgb(224, 215, 215, 0.3);
}

.s-workout {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
}

.s-workout {
    background-color: rgb(224, 215, 215, 0.3);
}

/* footer */

footer {
    height: 0;
}

.social-media {
    text-align: center;
}

.social-media li {
    font-size: 120%;
    display: inline;
    color: black;
    margin: 4%;
    padding: auto;
    font-weight: bold;
    display: relative;
    letter-spacing: 1px;

}

.social-media a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(10, 0, 0);
}

.social-media i {
    color: rgb(255, 0, 0);
}